@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Tourney:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap');


#background-animation-container {
  background-color: #000;
  height: 100%;
  min-height: 800px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1000;
}

.ani-bubble {
  background-color: rgb(70, 70, 70);
  border-radius: 75px;
  height: 150px;
  position:fixed;
  top: 100%;
  width: 150px;

  -webkit-animation: bubblemove 10s linear infinite;
  -moz-animation: bubblemove 10s linear infinite;
  animation: bubblemove 10s linear infinite;
}




@-webkit-keyframes bubblemove {
  from { top: 100%; }
  to   { top: -800px; }
}
@-moz-keyframes bubblemove {
  from { top: 100%; }
  to   { top: -800px; }
}
@keyframes bubblemove {
  from { top: 100%; }
  to   { top: -800px; } /* This must be far enough off screen to allow the largest object to wander off with enough delay before restarting at the bottom, to be caught by the interval timer */
}

body {
  background-color: black;
  width: 100%;
  height: 300%;
  padding: 0;
  margin: 0;
}

.main-title {
position: absolute;
color: #f9f1e9;
text-align: center;
height: 100%;
width: 100%;
top: 50%;
left: 50%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
}

.title {
  padding-top: 15%;
  font-size: 130px;
  padding-bottom: 0%;
  font-family: 'Tourney', sans-serif;
}

.text_pres {
  font-size: 30px;
  padding-top: 0%;
  color: white;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.phrase {
  margin-top: 10%;
  margin-bottom: 2%;
  font-size: 50px;
  
}

.menu_list {
  font-size: 50px;
}





.new_nav {
  display: flex;
  justify-content: flex-end;
}

.nav_section {
  display: flex;
  gap: 5rem;
  padding: 1.5rem 2rem;
  font-size: 40px;
  /* border-left: 1px solid var(--border-color); */
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 2);
  z-index: 1;
}

.nav_section a:hover {
  color: grey;
}

#contacts {
  color: #fff;
  justify-content: end;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
  color: white;
  cursor: pointer;
}


.big-text {
  font-size: 90px; /* Adjust the font size as needed */
  color: red;
  text-shadow: 
  -1px -1px 0 yellow,  
     1px -1px 0 yellow,
    -1px  1px 0 yellow,
     1px  1px 0 yellow,
     0px -1px 0 yellow,  
     0px 1px 0 yellow,
     -1px  0px 0 yellow,
     1px  0px 0 yellow,
     -2px -2px 0 yellow,
     2px -2px 0 yellow,
     -2px  2px 0 yellow,
     2px  2px 0 yellow,
     -2px  0px 0 yellow,
     2px  0px 0 yellow,
     0px  -2px 0 yellow,
     0px  2px 0 yellow,
     -3px -3px 0 yellow,
     3px -3px 0 yellow,
     -3px  3px 0 yellow,
     3px  3px 0 yellow,
     -3px  0px 0 yellow,
     3px  0px 0 yellow,
     0px  -3px 0 yellow,
     0px  3px 0 yellow;
}



.button-container {
  display: block;
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 0;
}


.button {
font-size: 25px;
margin-left: 30px;
margin-top: 15px;
background-color: transparent;
color: white;
  border: none;
  cursor: pointer;
}

.button-color {
text-decoration: none;
color: white;
}

.button:hover {
text-decoration: underline;
}


:root {
--primary-color: rgba(0, 0, 0, 0.75);
--overlay-color: rgba(68, 68, 68, 0.85);
--menu-speed: 0.75s;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


@media screen and (max-width: 48em) {
  .title {
    font-size: 50px;
    margin-top: 50px;
  }
  .big-text {
    font-size: 60px;
  }
  .text_pres {
    font-size: 18px;
  }
  body {
    min-height:400px;
	  min-width: 300px;
  }
  .nav_section {
    font-size: 30px;
    gap: 2rem;
  }
  .button-color {
    font-size: 20px;
  }
  #background-animation-container {
    min-height: 600px;
  }
  
}


/* For smartphones */
@media screen and (max-width: 38em) {
  .title {
    font-size: 50px;
    margin-top: 80px;
  }
  .big-text {
    font-size: 60px;
    margin-top: 30px;
  }
  .text_pres {
    font-size: 18px;
  }
  body {
    min-height:400px;
    min-width: 300px;
  }
  .nav_section {
    font-size: 20px;
    gap: 1rem;
  }
  .button-color {
    font-size: 14px;
  }
  .button {
    margin-left: 15px;
  }
}




html::-webkit-scrollbar {
  width: 15px;
  background-color: rgb(73, 73, 73);
  }
  
  html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  html::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgb(158, 158, 158) 0%, rgb(206, 206, 206) 100%);
  outline: 1px solid rgb(44, 44, 44);
  border-radius: 7px;
  }
